h1{
    text-align: center;
    color: #b08f6b;
    font-size: 50px;
}

.conten{
    background-color: #b08f6b;
    justify-content: space-between;
    padding: 15px;
}
.conten p{
    color: white;
    font-size: 25px;
    text-align: center;
    margin: 25px;
}

.container {
    display: flex;
  }
  
#box{
    margin: auto;
    margin-top: 70px;
    width:1200px;
    height: 1110px;

}
#img1{
    box-shadow: 6px 15px 50px black;
 position: relative;
 left: 0;
    float: right;
    background-color: #b08f6b;
    border: 9px solid #7b5d3d ;
    height: 640px;
    width: 400px;
    padding: 10px;
    margin: 0px;
}
#img1 img{
    height: 640px;
    width: 400px;
}
  
.img1p p{
    font-weight: bold;
    text-decoration-line: underline;
    line-height: 50px;
  text-align: center;
    font-size: 20px;
    color: #7b5d3d;
    background-color: #b08f6b;
    position: absolute;
    top: 570px;
    left: 23px;
    height: 50px;
    width:160px;

}
#img2{
    box-shadow: 6px 15px 50px black;
    position: relative;
    left: 0;
    background-color: #b08f6b;
    border: 9px solid #7b5d3d ;
    height: 300px;
    width: 700px;
    padding: 10px;
    margin: 10px;
}

#img2 img{
    height: 300px;
    width: 700px;
}
.img2p p{
    font-weight: bold;
    text-decoration-line: underline;
    line-height: 50px;
  text-align: center;
    font-size: 20px;
    color: #7b5d3d;
    background-color: #b08f6b;
    position: absolute;
    top: 230px;
    left: 23px;
    height: 50px;
    width:300px;

}


.blo{
    display: flex;
}

#img3{
    box-shadow: 6px 15px 50px black;
    position: relative;
    left: 0;
    background-color: #b08f6b;
    border: 9px solid #7b5d3d ;
    height: 280px;
    width: 320px;
    padding: 10px;
    margin: 10px;
}

#img3 img{
    height: 280px;
    width: 320px;
}


.img3p p{
    font-weight: bold;
    text-decoration-line: underline;
    line-height: 50px;
  text-align: center;
    font-size: 20px;
    color: #7b5d3d;
    background-color: #b08f6b;
    position: absolute;
    top: 210px;
    left: 23px;
    height: 50px;
    width:190px;
}


#img4{
    box-shadow: 6px 15px 50px black;
    position: relative;
    left: 0;
    background-color: #b08f6b;
    border: 9px solid #7b5d3d ;
    height: 280px;
    width: 320px;
    padding: 10px;
    margin: 10px;
}

#img4 img{
    height: 280px;
    width: 320px;
}

.img4p p{
    font-weight: bold;
    text-decoration-line: underline;
    line-height: 50px;
  text-align: center;
    font-size: 20px;
    color: #7b5d3d;
    background-color: #b08f6b;
    position: absolute;
    top: 210px;
    left: 23px;
    height: 50px;
    width:190px;
}
#img5{
    box-shadow: 6px 15px 50px black;
    position: relative;
    left: 0;
margin-left: 10px;
margin-top: 10px;
    background-color: #b08f6b;
    border: 9px solid #7b5d3d ;
    width: 1152px;
    height: 400px;
padding: 10px;
    
    
}
#img5 img{
    width: 1152px;
    height: 400px;
}

.img5p p{
    font-weight: bold;
    text-decoration-line: underline;
    line-height: 50px;
  text-align: center;
    font-size: 20px;
    color: #7b5d3d;
    background-color: #b08f6b;
    position: absolute;
    top: 325px;
    left: 23px;
    height: 50px;
    width:190px;
}
  


